.navbar {
    position: fixed;
    z-index: 5;
    top:0;
    left:0;
    right:0;
    padding:0 20px;
    background-color:white;
}

.logo {
    display:inline-block;
    width:fit-content;
}

.settings {
    position: absolute;
    right: 1rem;
    top: 50%;
    height: 50%;
    transform: translateY(-50%);
}

.settings.open {
    -webkit-animation: settings-active 2s infinite linear; /* Safari 4+ */
    -moz-animation:    settings-active 2s infinite linear; /* Fx 5+ */
    -o-animation:      settings-active 2s infinite linear; /* Opera 12+ */
    animation:         settings-active 2s infinite linear; /* IE 10+, Fx 29+ */
}

@-webkit-keyframes settings-active {
    0%   { transform: translateY(-50%) rotate(0deg) }
    100% { transform: translateY(-50%) rotate(60deg) }
}
@-moz-keyframes settings-active {
    0%   { transform: translateY(-50%) rotate(0deg) }
    100% { transform: translateY(-50%) rotate(60deg) }
}
@-o-keyframes settings-active {
    0%   { transform: translateY(-50%) rotate(0deg) }
    100% { transform: translateY(-50%) rotate(60deg) }
}
@keyframes settings-active {
    0%   { transform: translateY(-50%) rotate(0deg) }
    100% { transform: translateY(-50%) rotate(60deg) }
}

.settingsBox {
    transform: translateX(100%);
    transition: transform 1s;
    position: absolute;
    right:0;
    top:100%;
    padding:1rem;
    background-color:white;
    border:1px solid gray;
    border-right:none;
}

.settingsBox.open {
    transform: translateX(0);
    transition: transform 1s;
}

.setting {
    text-align: right;
    width:9rem;
    padding:1rem;
}

.setting img {
    float:right;
    padding-left:1rem;
    height:1.5rem;
}

.container {
    padding:100px 20px 20px;
    width:fit-content;
    margin:auto;
    background-color:#f8f8f8;
    max-width:15rem;
}

.appMenu {
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.modeMenu {
    text-align: center;
}

.modeMenu button {
    margin:2rem 3rem;
    border:none;
    border-radius: 0.25rem;
    padding:2rem 3rem;
    font-size: 1.5rem;
    box-shadow: 0 15px 18px -10px rgba(0, 0, 0, 0.5);
    -webkit-transition: transform 0.25s, box-shadow 0.25s;
	transition: transform 0.25s, box-shadow 0.25s;
}

.modeMenu button:hover {
    transform: scale(1.05);
	box-shadow: 0 20px 18px -10px rgba(0, 0, 0, 0.5);
	-webkit-transition: transform 0.25s, box-shadow 0.25s;
	transition: transform 0.25s, box-shadow 0.25s;
}

.modeMenu .primary-button {
    color:white;
    background:#1bd9c4;
}

.modeMenu .secondary-button {
    color:white;
    background:#094074;
}

@media only screen and (min-width:30rem) and (max-width:41rem) {
    .container{
        max-width:28rem;
    }
}

@media only screen and (min-width:41rem) and (max-width:80rem) {
    .container{
        max-width:39rem;
    }
}

@media only screen and (min-width:80rem) {
    .container{
        max-width:80rem;
    }
}