.Info {
    padding-bottom:2rem;
}

.Info button {
    background:#1bd9c4;
    color:white;
    border:none;
    border-radius:0.25rem;
    padding:1rem;
}

.Info button {
    display:inherit;
    margin:auto;
    border:none;
    border-radius: 0.25rem;
    -webkit-transition: transform 0.25s;
	transition: transform 0.25s;
}

.Info button:hover {
    transform: scale(1.05);
	-webkit-transition: transform 0.25s;
	transition: transform 0.25s;
}