.Card {
	display:inline-block;
	position: relative;
	margin:0.5rem;
	height:15rem;
	width:11.5rem;
	border:2px solid #d2d2d7;
	background-color: rgb(255,255,255);
	box-shadow: 0 15px 18px -10px rgba(0, 0, 0, 0.5);
	border-radius: 0.25rem;
	overflow: hidden;
	transform: translateX(-100vw);
}

.Card.Correct {
	background-color:rgb(0,128,8);
	-webkit-transition: background-color 1s;
	transition: background-color 1s;
}

.Card.Incorrect {
	background-color:rgb(200,50,50);
	-webkit-transition: background-color 1s;
	transition: background-color 1s;
}

.Dealt:hover {
	transform: scale(1.05);
	box-shadow: 0 20px 18px -10px rgba(0, 0, 0, 0.5);
	-webkit-transition: transform 0.25s, box-shadow 0.25s;
	transition: transform 0.25s, box-shadow 0.25s;
}

.Dealt:not(:hover) {
	transform: none;
	-webkit-transition: transform 0.5s, box-shadow 0.5s;
	transition: transform 0.5s, box-shadow 0.5s;
}

.Dealt.Hide {
	transform: scaleX(0);
	box-shadow: 0 20px 18px -10px rgba(0, 0, 0, 0);
	-webkit-transition: transform 0.25s ease-in, box-shadow 0.25s ease-in;
	transition: transform 0.25s ease-in, box-shadow 0.25s ease-in;
}

.FaceContainer {
	position: absolute;
	top: 10px;
	bottom:10px;
	right:10px;
	left:10px;
	border:1px solid #d2d2d7;
	border-radius: 0.25rem;
	overflow: hidden;
	background-size: cover;
	background-position: center;
}

.Face {
	width:100%;
	height:100%;
	object-fit: cover;
}

.Name {
	position: absolute;
	bottom:0;
	left:0;
	right:0;
	height:fit-content;
	text-align: center;
	color:white;
	background-color:rgba(0,0,0,.5);
	transform:translateY(100%);
}

.Correct .Name {
	transform:none;
	-webkit-transition: transform 0.5s;
	transition: transform 0.5s;
}

.Incorrect .Name {
	transform:none;
	-webkit-transition: transform 0.5s;
	transition: transform 0.5s;
}