.QuestionRow {
    position: relative;
    width:fit-content;
    margin:auto;
}

.Question {
    display:inline-block;
    width:fit-content;
}

.CardHolder {
    position: relative;
    width:fit-content;
}

.Cover {
    z-index: 1;
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    display:none;
    background-color:#f8f8f8;
    opacity: 0;
}

.Display {
    display:inline-block;
}

.Cover.Display {
    opacity: 0.6;
    transition: opacity 3s linear;
}