.Results {
    width:fit-content;
    margin:5rem auto;
}

.Score {
    margin:auto;
    margin-top:3rem;
    width:fit-content;
    display:block;
    border:2px solid #094074;
    border-radius:0.25rem;
    padding:1rem;
}

.Details {
    margin:auto;
    width:fit-content;
    text-align: center;
}

.Time {
    margin:2rem 3rem;
    width:fit-content;
    display:inline-block;
    padding:1rem;
}

.Accuracy {
    margin:2rem 3rem;
    width:fit-content;
    display:inline-block;
    padding:1rem;
}

.Scoreboards {
    text-align: center;
    margin:auto;
    border:1px solid black;
    width:fit-content;
    box-shadow: 0.5rem  0.5rem 0.5rem rgba(0,0,0,.5);
}

.Leader {
    padding:1rem;
}

.Leader:not(:first-child) {
    border-top:1px solid black;
}

.Leader .Title {
    display:inline-block;
    text-align: right;
    width:1.5rem;
    margin-right:1rem;
    font-weight: bolder;
}